# Local Terraform state
*.tfstate
*.tfstate.*

# Local/private variable files
*.auto.tfvars
terraform.tfvars

# Terraform working directory
.terraform/

# Plans
*.tfplan

# Crash logs
crash.log
crash.*.log